<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQdqcXZG_T9pJpXGq6ULopz31WXQqXOc4</string>
	<key>GCM_SENDER_ID</key>
	<string>546790727321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>minglin.chilichill</string>
	<key>PROJECT_ID</key>
	<string>chili-app-c01</string>
	<key>STORAGE_BUCKET</key>
	<string>chili-app-c01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546790727321:ios:99a64a05e37a334b8b2208</string>
</dict>
</plist>